@import './../../assets/sass/settings.sass'

footer
    background: #fff
    border-top: $border
    padding: 20px

    .bar
        background: $color-secundary
        width: 100%
        height: 12px
        border-radius: 5px
