@import 'settings.sass'
@import 'anime.sass'
@import 'loader.sass'

  
@import 'main-container.sass'

html, body
    background-color:#F7F7F7
    font-size: 17px
    margin: 0 0 0 0
    padding: 0 0 0 0
    font-family: 'Verdana'
    height: 100%
    overflow-x: hidden

    .content
        width: 1000px
        margin: 0 auto    
    
    .left
        float: left
    
    .right
        float: right

    .clear
        float: left
        clear: both


    a, a:link, a:visited
        color: $color-highlight
        text-decoration: none
    
    a:hover, a:active
        color: darken($color-highlight, .1)

    h1
        font-size: 1.7rem
    h2
        font-size: 1.2rem
    .btn, .btn:link, .btn:visited
        padding:9px 35px
        border-radius:10px
        background-color:$color-highlight
        color: white
        font-size: 1.05rem
        text-transform: uppercase

    .btn:hover, .btn:active
        background: darken($color-highlight, .1)


    button
        cursor: pointer
        border: none
        
    .mat-form-field-label, .mat-form-field-appearance-legacy .mat-form-field-label
        color: #C9C9C9
        font-size: 1.1rem

    .msg-error
        color: $color-highlight
        font-size: 0.75rem
        margin-top: -18px

        
    
@media screen and (max-width: 1000px)
    html, body
        .content
            width: 100%