<section class="content">
    <h1>Teste Front-end Sênior</h1>

    <h2>Realizado por Rafael Teixeira</h2>

    <p>Bem-vindo/a ao desafio aplicado para desenvolvedor front-end sênior realizado para a Bexs.</p>

    <p>O objetivo do desafio se baseia em criar uma interface de pagamento de cartão de crédito com validação. </p>

    <p>Para este desafio foi utilizado Angular 9, Angular Material, Sass entre outros.</p>

    <br clear="all" />

    <a [routerLink]="['/pagamento']" class="btn btn-gradient anime">Acesse o teste</a>
</section>
