<main>
  <app-header></app-header>
  <div class="container">
    <div [@routerTransition]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</main>