<section class='content'>
    <aside>
        <a [routerLink]="['/carrinho']" class="changePayment">
           Alterar Forma de Pagamento
        </a>

        <div class="mob-step"> <b>Etapa 2 </b>de 3</div>

        <h2> <figure></figure><span>Adicione um novo cartão de crédito</span> </h2>

        <div class="card-block" [class.show-back]="contextForm.showBack" [class.visa]="contextForm.operatorCard=='visa'" [class.mastercard]="contextForm.operatorCard=='Mastercard'"> <!--  -->
            <div class="back">
                <div class="card-cvv">{{ formPayment.get('cvv').value ? formPayment.get('cvv').value : contextForm.numberCvv  }}</div>
            </div>
            <div class="card">
                <div class="card-logo"></div>
                <div class="card-number"> {{ formPayment.get('number').value ? (formPayment.get('number').value | mask: '9999 9999 9999 9999') : contextForm.numberCard }} </div>
                <div class="card-name left"> {{ formPayment.get('name').value ? formPayment.get('name').value : contextForm.nameCard }} </div>
                <div class="card-date right"> {{ formPayment.get('date').value ? (formPayment.get('date').value | mask: '00/00') : contextForm.dateCard  }} </div>
            </div>
        </div>
    </aside>
    <article>
        <nav>
            <ul>
                <li><a [routerLink]="['/carrinho']" class="">Carrinho</a></li>
                <li><a [routerLink]="['/pagamento']" class="">Pagamento</a></li>
                <li><a [routerLink]="['/confirmar']" class="">Confirmação</a></li>
            </ul>
        </nav>

        <form [formGroup]="formPayment" (submit)="continue()">            
            <div class="field">
                <mat-form-field>
                    <input matInput formControlName="number" placeholder="Número do cartão" (blur)="changeTypeCard($event);"  mask="0000 0000 0000 0000" maxlength="19" autocomplete="off" /> 
                </mat-form-field>
                <div *ngIf="formPayment.get('number').touched && formPayment.get('number').hasError('required')" class="msg-error">Campo Obrigatório</div>
                <div *ngIf="formPayment.get('number').touched && !formPayment.get('number').hasError('required') && formPayment.get('number').hasError('invalidCreditCard')" class="msg-error">Número de cartão inválido</div>
            </div>   
            <div class="field">
                <mat-form-field>
                    <input matInput formControlName="name" placeholder="Nome (igual ao cartão)" maxlength="100" autocomplete="off" /> 
                </mat-form-field>
                <div *ngIf="formPayment.get('name').touched && formPayment.get('name').hasError('required')" class="msg-error">Campo Obrigatório</div>
                <div *ngIf="formPayment.get('name').touched && !formPayment.get('name').hasError('required') && formPayment.get('name').hasError('invalidName')" class="msg-error">Insira seu nome Completo</div>
            </div>
            <div class="field field-50 left">
                <mat-form-field>
                    <input matInput formControlName="date" placeholder="Validade" mask="99/99" autocomplete="off" /> 
                </mat-form-field>
                <div *ngIf="formPayment.get('date').touched && formPayment.get('date').hasError('required')" class="msg-error">Campo Obrigatório</div>
                <div *ngIf="formPayment.get('date').touched && !formPayment.get('date').hasError('required') && formPayment.get('date').hasError('invalidDate')" class="msg-error">Data inválida</div>
            </div>
            <div class="field field-50 right">
                <mat-form-field>
                    <input matInput formControlName="cvv" placeholder="CVV" autocomplete="off" mask="999" maxlength="3" (focus)="contextForm.showBack=true" (blur)="contextForm.showBack=false" /> 
                </mat-form-field>
                <div *ngIf="formPayment.get('cvv').touched && formPayment.get('cvv').hasError('required')" class="msg-error">Campo Obrigatório</div>
                <div *ngIf="formPayment.get('cvv').touched && !formPayment.get('cvv').hasError('required') && formPayment.get('cvv').errors?.minlength" class="msg-error">Código Inválido</div>
            </div>
            <div class="field clear">
                <mat-form-field>
                    <mat-label>Número de parcelas</mat-label>
                    <mat-select formControlName="installment">
                        <mat-option *ngFor="let installment of contextForm.installment" [value]="installment.value">
                          {{installment.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="formPayment.get('installment').touched && formPayment.get('installment').hasError('required')" class="msg-error">Campo Obrigatório</div>
            </div>
            <button class="btn anime right">Continuar</button>
            <br clear="all" />
            <div class="msg-error" *ngIf="msgError">{{ msgError }}</div>

   
            <app-subloader *ngIf="isLoading"></app-subloader>
        </form>
    </article>
</section>