@import './../../../assets/sass/settings.sass'

section.content
    display: flex
    margin-top: 15px
    min-height: 500px
    background: #ffffff
    border: $border
aside
    display: block
    padding-top: 50px
    padding-left: 50px
    flex: 1
    background: $color-highlight
    perspective: 1000px
    .mob-step
        display: none
        color:#fff
        text-align: center
        font-size: .7rem
    h2
        color: #fff
        display: flex
        font-size: 18px
        margin: 40px auto
        align-items: center
        letter-spacing: 0.03em
        figure
            display: inline-block
            width: 50px
            height: 50px
            margin: 0px 10px 0 0
            padding: 0 0 0 0
            background-image: url('./../../../assets/imgs/card-symbol.svg')
            background-position: left center
            background-size: auto 50px
            background-repeat: no-repeat
        span 
            display: inline-block
            width: 220px

    a
        display: block
        margin: 0 auto
        
    a:link, a:visited
        color: #FFFFFF
        text-decoration: none
    
    a:hover, a:active
        color: darken(#FFFFFF, .1)

    .changePayment 
        font-size: 13px
        padding-left: 20px   
        &::before
            content: ""
            position: absolute
            display: inline-block
            margin-left: -20px
            margin-top: 3px
            margin-right: 5px
            width: 8px
            height: 8px
            border-top:2px solid #FFFFFF
            border-left:2px solid #FFFFFF
            transform: rotate(-45deg)
    .card-block
        box-sizing: border-box
        position: absolute
        margin-top: 0px
        padding:30px
        width: 350px
        height: 215px
        transition: all 0.8s
        transform-style: preserve-3d
        .card
            display: block
            box-sizing: border-box
            position: absolute
            margin-top: 0px
            padding:30px
            width: 350px
            height: 215px
            backface-visibility: hidden
            background-image: url('./../../../assets/imgs/card.svg')
            background-position: left center
            background-size: 101% auto
            background-repeat: no-repeat
            box-shadow: 2px 5px 10px rgba(30, 30, 30, .4)
            border-radius: 14px
            color: #fff
            text-shadow: 0px 1px 2px #000000B3

            &-logo
                height: 80px
            &-number
                position: absolute
                text-align: justify-all
                letter-spacing: .33em
            &-name
                display: inline-block
                margin-top: 50px
                width: 230px
                font-size: 14px
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                text-transform: uppercase
            &-date
                display: inline-block
                text-align: right
                margin-top: 50px
                width: 60px
                font-size: 14px

        .back
            box-sizing: border-box
            position: absolute
            margin-top: 0px
            padding:30px
            width: 350px
            height: 215px
            backface-visibility: hidden
            background-image: url('./../../../assets/imgs/card-back.svg')
            background-position: left center
            background-size: 101% auto
            background-repeat: no-repeat
            box-shadow: 2px 5px 10px rgba(30, 30, 30, .4)
            border-radius: 14px
            transform: rotateY(180deg)
            .card-cvv
                position: absolute
                left: 175px
                top: 105px
    
    .card-block.show-back
        transform: rotateY(180deg)
        margin-left: 30px
    
    .visa
        .back
            background-image: url('./../../../assets/imgs/card-back-visa.svg')
        .card
            background-image: url('./../../../assets/imgs/card-visa.svg')
            .card-logo    
                background-image: url('./../../../assets/imgs/card-visa-logo.png')
                background-position: left top
                background-repeat: no-repeat
    .mastercard
        .back
            background-image: url('./../../../assets/imgs/card-back-master.svg')
        .card
            background-image: url('./../../../assets/imgs/card-master.svg')
            .card-logo    
                background-image: url('./../../../assets/imgs/card-master-logo.svg')
                background-size: auto 42px
                background-position: left top
                background-repeat: no-repeat 
            
    

article
    display: block
    flex: 2.4
    padding-top: 50px
    padding-right: 50px
    padding-bottom: 50px

    nav ul, nav ul li
        margin: 0 0 0 0
        padding:0 0 0 0
        list-style: none

    nav ul
        display: flex
        flex-direction: row
        justify-content: flex-end

    nav ul li
        position: relative
        margin-left: 75px
        font-size: .8rem
        letter-spacing: ini

    nav ul li:before
        content: "1"
        position: absolute
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        margin-top: -2px
        font-weight: bold
        right: 106%
        width: 18px
        height: 18px
        color: $color-highlight
        border: 1.3px solid $color-highlight
        border-radius: 100%

    nav ul li:nth-child(2):before
        content: "2"

    nav ul li:nth-child(3):before
        content: "3"


    nav ul li:after
        content: ""
        position: absolute
        display: inline-block
        margin-top: 3px
        right: -25px
        width: 8px
        height: 8px
        border-top: 2px solid $color-highlight
        border-right: 2px solid $color-highlight
        transform: rotate(45deg)

    nav ul li:last-child:after
        display: none

form
    width: 70%
    margin-left: 30%
    
    .field, mat-form-field
        display: block
        width: 100%

    .field
        margin-top: 25px

        &-50
            width: 47%

    .btn
        margin-top: 15px
    

    
@media screen and (max-width: 1000px)
    
    section.content
        flex-direction: column

    aside
        position: relative
        flex: auto
        height: 240px
        padding-left: 0px
        padding-top: 30px
        justify-content: center
        .mob-step
            display: block
            
        .changePayment 
            width: 0
            overflow: hidden
            position: absolute
            left: 15px
            margin-top: -5px
            &::before
                margin-left:-10px
                width: 15px
                height: 15px
        h2
            justify-content: center

        .card-block
            transform: scale(0.88)
            left: 50%
            margin-left: -200px
            margin-top: -55px

        .card-block.show-back
            left: 7%
            transform: scale(0.88) rotateY(180deg)

    article
        flex: 1
        padding-left:50px
        padding-top: 90px
        position: relative
        
        nav
            display: none

        form  
            margin-left: 0
            width: 100%